<!--

<a href="large_1.jpg" class="fancybox" rel="gallery" title="Sample title 1"><img src="small_1.jpg" /></a>
<a href="http://www.joblo.com/newsimages1/JB_Box_Office_final.jpg" class="fancybox" rel="gallery" title="Sample title 1"><img src="http://www.joblo.com/newsimages1/JB_Box_Office_final.jpg" /></a>


<%= will_paginate @items %>

<div class = 'items' id ='items'>
<%= render @items %>
</div>

-->