<p>There are <%= @items.count %> news items tagged with <%= @tmp %> </p>
<div class = 'items' id ='items'>
<%= render @items %>
</div>

<div class = 'pagitems'>
<%= will_paginate @items %>
</div>